*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root{
	--color-pri : #fcdb00;
	--text-pri: #010101;
	--text-sec : #313841;
	--text-ter : #555555;
	/* --text-ter : #898989; */
	--color-white : #fff;
	--color-dark : #000;
	--color-danger : #ff0000;
}

body{
	font-family: "PT Sans", sans-serif;
}

ul{
	list-style: none;
	padding: 0;
}

a:is(:link, :visited){
	text-decoration: none;
}